@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section id="about-us" class="container main">
    <div class="row-fluid">
        <div class="span8">
            @RenderBody()
        </div>
        <aside class="span4">
            <div class="widget search">
                @RenderSection("Search", false)
            </div>
        </aside>
    </div>

</section>
@section Scripts{
    @RenderSection("Scripts", false)
}
@section Styles{
    @RenderSection("Styles", false)
}
