@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}
@HtmlManager.ProccessResultContainer(ViewBag.Result)

<div>
    <div>
        <h3 style="margin-left: 250px">Что такое Distant Learning System?</h3>
        <p style="margin-left: 40px">
            <img style="margin-left: 270px; margin-bottom: 50px" src="~/Images/Icons/Picture.png" width="350" height="250"> <br />
            Это образовательный проект, главной целью которого является <b>улучшение усвоения информации студентами</b> <br />
            путем построения <b>классификационной модели предметной области</b>.
        </p>
        <h3 style="margin-left: 250px; margin-bottom: 50px; margin-top: 50px">Основные положения пользования системой:</h3>
            <ul>
                <li style="margin-bottom: 10px"> в построении классификационной модели участвуют студенты и преподаватели университета</li>
                <li style="margin-bottom: 10px">
                    студенты и преподаватели могут добавлять классификации, понятия, определения к понятиям, формулировки к определениям, <br />
                    источники информации, ссылки на источники в определениях, а также связи между понятиями в определенной классификации
                </li>
                <li style="margin-bottom: 10px"> преподаватели могут ставить оценки студентам за проделанную работу</li>
            </ul>
    </div>
</div>